body {
  font-size: 10px;
  margin: 0;
}

header {
  background: #012849;
  height: 10em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.img {
  height: 8em;
  margin-left: 5em;
  margin-top: 2em;
}

.head-ul {
  display: flex;
  flex-direction: row;
  margin-right: 2em;
}

.head-li {
  list-style-type: none;
  color: white;
  font-size: 1.8em;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1.8em;
}

.head-li:hover{
  cursor: pointer;
}

.li-selected{
  background-color:  #F8DC20;
  color: black;
  height: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.3em;
}

footer {
  background: #012849;
  height: 35em;
  width: 100%;
  padding-bottom: 0px !important;
  display: flex;
  flex-direction: column;
}

.footer-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.footer-div-1 {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
}

.img-1 {
  height: 20em;
  margin-left: 8em;
  margin-right: -4em;
  margin-top: 0.5em;
}

.icon-ul {
  display: flex;
  flex-direction: row;
  /* margin-top: 4em; */
}

.icon-li {
  list-style-type: none;
  color: white;
  font-size: 4.6em;
  margin-right: 0.5em;
}

.img-2 {
  height: 15em;
  margin-top: 4em;
  margin-right: 15em;
}

.hr-div{    
    width: 100%;
}

.footer-hr {
  border-color: wheat;
  margin-top: 2em;
}

.footer-div-p {
  display: flex;
  align-items: center;
  /* height: auto; */
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.footer-p {
  color: white;
  font-size: 2em;
}

.first-div {
  width: 100%;
}

.cover {
  /* --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity)); */
}

.cover-img {
    height: 520px;
    width: 100%;
    object-fit: cover;
    /* opacity: 0.4; */
    border-radius: 0 0 20em 0;
}

.cov-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 22em;
}

.cov-div-p{
    background-color: #012849;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 5em;
    width: 70em;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5em;
    padding-bottom: 5em;
    border-radius: 2em;
    opacity: 0.8;
}

.cov-p{
    color: white;
    font-size: 3em; 
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: auto;
    margin-bottom: auto;
}

.cov-button{
    background-color: #FFD431;
    border: none;
    height: 3.5em;
    width: 10em;
    margin-top: 2em;
    border-radius: 0.3em;
}

.cov-button:hover{
  cursor: pointer;
}

.button-p{
    font-size: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
}

.products{
    display: flex;
    flex-direction: column;
}

.pro-h{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pro-h-1{
    color: black;
    font-size: 4em;
    font-weight: 100;
}

.pro-h-2{
    color: #CDBB2B;
    font-size: 4em;
    font-weight: 100;
}

.camera-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 5em;
}


.camera-img{
    width: 26em;
    height: 27em;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.15) 0.6em 0.6em;
}

.sec-img{
    margin-left: 5em;
    margin-right: 5em;
}

.pro-button{
    background-color: #012849;
    border: none;
    height: 3.8em;
    width: 13em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.15) 0.3em 0.3em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6em;
}

.pro-button-p{
    color: white;
    font-size: 1.5em;
    margin-top: auto;
    margin-bottom: auto;
}

.services{
    display: flex;
    flex-direction: column;
    background-color: #F3F3F3;
}

.service-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 5em; 
}

.service-img{
    width: 24em;
    height: 27em;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.15) 0.6em 0.6em;   
}

.scnd-img{
    margin-left: 8em;
    margin-right: 8em;
}

.form{
  display: flex;
}

.form-div{
  display: flex;
  flex-direction: column;
  width: 45em;
  margin-left: auto;
  margin-right: auto;
}

.inputs-name{
  display: flex;
  justify-content: space-between;
}

.name-input{
  height: 1.5em;
  border-radius: 1em;
  width: 13.5em;
  padding: 1em;
  border-width: 0.02em;
}

.name-input:focus{
  outline: none;
}

.name-input::placeholder{
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #B9BEC2;
  /* margin-top: auto;
  margin-bottom: auto; */
}

.email-input{
  height: 1.5em;
  border-radius: 1em;
  margin-top: 2em;
  padding: 1em;
  border-width: 0.02em;
}

.email-input:focus{
  outline: none;
}

.email-input::placeholder{
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #B9BEC2;
}

.input-textarea{
  margin-top: 2em;
  height: 12em;
  border-radius: 1em;
  padding: 1em;
}

.input-textarea:focus{
  outline: none;
}

.input-textarea::placeholder{
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #B9BEC2;
}

.contact-button{
  background-color: #012849;
  border: none;
  height: 3.8em;
  width: 11em;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.15) 0.3em 0.3em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  margin-top: 2em;
}

.contact-button-p{
  color: white;
  font-size: 1.5em;
  margin-top: auto;
  margin-bottom: auto;
}